[Unit]
Description=bibleSender
After=network.target

#log with journalctl -u bibleSender.service
[Service]
ExecStart=/usr/bin/node /home/pi/bibleSender/index.js 
WorkingDirectory=/home/pi/bibleSender
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=netdev

[Install]
WantedBy=multi-user.target
